body {
    background-color: #121212 !important;
}

.card {
    background-color: #1E1E1E !important;
    color: white;
    border-radius: 25px !important;
}

.card-text {
    color: rgba(255, 255, 255, 0.5);
}

.card-image-top {
    border-radius:  25px 25px 0 0 !important;
}

a.btn {
    border-radius: 25px !important;
}

.sideBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #1E1E1E;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .sideBar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sideBar a:hover {
    color: #f1f1f1;
  }
  
  .sideBar .closebtn {
    right: 25px;
    font-size: 36px;
    margin-right: 50px;
    text-align: right;
  }

  .start-98 {
      left: 98%;
  }

  .susBar {
    position: relative;
    width: 100%;
  }

  .susBarFill {
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: flex-start;
  }
  
  @media screen and (max-height: 450px) {
    .sideBar {padding-top: 15px;}
    .sideBar a {font-size: 18px;}
  }